/*color variables*/
:root {
    --primary-color: rgb(225,221,191);
    --secondary-color: rgb(4,37,58);
    --tertiary-color: rgb(76,131,122);
    --font-color: white;
}

html {
    background-color: var(--primary-color);
}
/*setting default font for the entire page*/
    

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--font-color);
}

/*header contains page title and navigation links*/
header {
    background-color: var(--secondary-color);
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}

/* default styling for title and nav items */
header a {
    text-decoration: none;
    color: var(--font-color);
    margin-left: 2em;
}

header h1 {
    flex: 1 0 0;
}


/* specifically styling the nav box and all children nav links */
header nav {
    flex: 1 0 auto;
    background-color: var(--secondary-color);
}

header nav ul {
    color: var(--font-color);
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a:hover {
    color: var(--primary-color);
}


/*about me styling containing info about me and my photo*/
.about-me {
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5em 10em 5em 10em;
}

.about-me article {
    margin-right: 2.5em;
    margin-left: 1.5em;
    flex: 2 2 auto;
}

.about-me img {
    height: auto;
    width: 17em;
    max-width: 100%;
}

/*project-display section*/

.project-display {
    margin-bottom: 2em;
}

/* container for all items */
.project-display div{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* styling for the project items, their titles, and imgs */
.project-display div .project-item {
    position: relative;
}

.project-display div .project-item img {
    width: 100%;
    height: 200px;
    flex-basis: auto;
    margin: 1em 0 2em 0;
}

.project-display div .project-item img:hover {
    opacity: .7;
}

.project-display div .project-item h4 {
    font-size: 1em;
    position: absolute;
    left: 5%;
    background-color: var(--tertiary-color);
    padding: .2em .2em .2em .2em;
    border: 2px solid var(--secondary-color);
}


/*Footer section/contact me*/

.contact-me {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-me h3 {
    margin-left: 2em;
}

/* contact-icon container */
.contact-me div {
    display: flex;
    flex: 1 1 auto;
    justify-content: start;
}

.contact-icon {
    height: 2em;
    width: auto;
    padding: 2em;
}

/* Media queries */

@media (max-width: 768px) {
    body {
        font-size: 36px;
        width: 740px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    header {
        display: flex;
        flex-basis: 100%;
        align-items: center;
    }

    header h1 {
        display: flex;
        font-size: 30px;
        text-align: start;
    }

    .about-me {
        display: flex;
        flex: 0 0 100%;
        margin: .5em .5em .5em .5em;
        padding-bottom: .7em;
    }

    .contact-me {
        display: flex;
    }

    .contact-me h3 {
        font-size: 36px;
    }

}

@media (max-width: 480px) {
    body {
        font-size: 24px;
        display: flex;
        width: 400px;
    }

    header {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: start;
    }

    header h1 {
        display: flex;
        flex-shrink: 10;
        font-size: 12px;
    }

    header nav {
        display: flex;
        flex: 3 0 0;
    }

    header nav ul li a {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: 16px;
    }

    .about-me {
        display: flex;
        flex: 0 0 100%;
        margin: .5em 0 .5em 0;
        padding-bottom: .7em;
    }

    .contact-me {
        display: flex;
        align-items: center;
    }

    .contact-me h3 {
        display: flex;
        flex-shrink: 2;
        font-size: 20px;
    }

    .contact-icon {
        display: flex;
        height: 26px;
    }
}