/*color variables*/
:root {

}

html {
    background-color: blueviolet;
}
/*setting default font for the entire page*/
* {
    
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

/*header contains navigation links*/
header {
    background-color: #4287f5;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

header nav {
    flex: 2 1 auto;
    background-color: #4287f5;
}

header a {
    text-decoration: none;
    color: yellow;
}

header nav ul {
    color: yellow;
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/*about me styling*/
.about-me {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    margin: 5em 10em 5em 10em;
}

.about-me article {
    margin-right: 2.5em;
    margin-left: 1.5em;
}



/*project-display section*/

.project-display {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5em 10em 5em 10em;
}

.item {
    background-image: url("../images/placeholder-400x300.png");
    width: 400px;
    height: 300px;
    margin: 1em 1em 1em 1em;
}

/*Footer section/contact me*/

footer {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    flex: 2 1 auto;
    display: flex;
    justify-content: space-around;
}